<div class="deploy-template-page">
  <div class="flex-container">
    <div class="drop-down-list-container">
      <ibm-dropdown class="carrier-select-box" placeholder="Select Template" value="content">
        <ibm-dropdown-list (select)="templateSelected($event)" [items]="templateOptions"></ibm-dropdown-list>
      </ibm-dropdown>
    </div>
    <div class="template-details">
      <ibm-tile class="detail-tile">
        <div>Name: {{selectedTemplateName}}</div>
        <div>Provider: {{selectedTemplateProvider}}</div>
        <div>Description: {{selectedTemplateDescription}}</div>
        <div>Details: {{selectedTemplateDetails}}</div>
      </ibm-tile>
    </div>
  </div>
</div>